
<nav class="navCategories vertical">
	<ul>
			<li class="liCategories">Categories</li>
			<li class="liCategories"><a class="itemCategories" ng-href="/showCatalogue">Item 1</a></li>
			<li class="liCategories"><a class="itemCategories" href="#">Item 2</a>
				<ul class="ulCategories">
					<li class="styleSubmenu"><a class="itemCategories" href="">SubItem 1</a></li>
					<li class="styleSubmenu"><a class="itemCategories" href="">SubItem 2</a></li>
					<li class="styleSubmenu"><a class="itemCategories" href="">SubItem 3</a></li>
				</ul>
			</li>
			<li class="liCategories"><a class="itemCategories" href="#">Item 3</a></li>
			<li class="liCategories"><a class="itemCategories" href="#">Item 4</a></li>
		</ul>
	
</nav>