<footer>
	<section class="container-fluid">
		<section class="row">
			<article class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<h3 class=titleFooter>Footer</h3>
			</article>
		</section>
		<section class="row">
			<article class="col-lg-4 col-md-4 col-sm-4 col-xs-12 styleArticleFooter">
				<h4>Heading</h4>
				<ul>
					<li><span><a href="#">Item 1</a></span></li>
					<li><span><a href="#">Item 2</a></span></li>
					<li><span><a href="#">Item 3</a></span></li>
					<li><span><a href="#">Item 4</a></span></li>
				</ul>
			</article>
			<article class="col-lg-4 col-md-4 col-sm-4 col-xs-12 styleArticleFooter">
				<h4>Heading</h4>
				<ol>
					<li><span><a href="#">Item 1</a></span></li>
					<li><span><a href="#">Item 2</a></span></li>
					<li><span><a href="#">Item 3</a></span></li>
					<li><span><a href="#">Item 4</a></span></li>
				</ol>
			</article>
			<article class="col-lg-4 col-md-4 col-sm-4 col-xs-12 styleArticleFooter">
				<h4>Heading</h4>
				<ul>
					<li><span><a href="#">Item 1</a></span></li>
					<li><span><a href="#">Item 2</a></span></li>
					<li><span><a href="#">Item 3</a></span></li>
					<li><span><a href="#">Item 4</a></span></li>
				</ul>
			</article>
		</section>
	</section>
</footer>