<header>
	<nav>
		<ul>
			<li class="liHeader"><a class="itemHeader" ng-href="/">Logo</a></li>
			<li class="liHeader"><a class="itemHeader" ng-href="/showCatalogue">Item 1</a></li>
			<li class="liHeader"><a class="itemHeader" ng-href="/showCatalogue">Item 2</a>
				<ul class="ulHeader">
					<li class="styleSubmenu"><a class="itemHeader" ng-href="/showCatalogue">SubItem 1</a></li>
					<li class="styleSubmenu"><a class="itemHeader" ng-href="/showCatalogue">SubItem 2</a></li>
					<li class="styleSubmenu"><a class="itemHeader" ng-href="/showCatalogue">SubItem 3</a></li>
				</ul>
			</li>
			<li class="liHeader"><a class="itemHeader" ng-href="/showCatalogue">Item 3</a></li>
			<li class="liHeader"><a class="itemHeader" ng-href="/showCatalogue">Item 4</a></li>
		</ul>
	</nav>
</header>
	
