<section class="boxCatalogue">
<section class="titleCatalogue">
	<h1>Catalogue</h1>
</section>

<section id="flexBox">
	<article class="column">
		<div class="horizontal">
			<button ng-click="toggleCustom()">Product</button>
		</div>
	</article>
	<article class="column">
		<div class="horizontal">
			<button ng-click="toggleCustom()">Product</button>
		</div>
	</article>
	<article class="column">
		<div class="horizontal">
			<button ng-click="toggleCustom()">Product</button>
		</div>
	</article>
	<article class="column">
		<div class="horizontal">
			<button ng-click="toggleCustom()">Product</button>
		</div>
	</article>
</section>
</section>

<section ng-hide="custom">
    <article class="titleFeatured">
    	<h1>Featured product</h1>
    </article>
    <h5>Lorem ipsum dolor</h5> 
    <p>Nam lacus metus, volutpat id nunc sit amet, viverra viverra arcu. Phasellus blandit magna sit amet venenatis feugiat. Sed id ullamcorper lectus, et imperdiet dui. Ut at lacinia ante, at vehicula nisi. In vitae sem non enim scelerisque vestibulum. Sed condimentum sollicitudin ligula, sed vulputate diam venenatis non. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
    <div class="productImg"></div>
    <form ng-submit="submitForm()">
    	<h5>Request form</h5>
    	<input type="text" name="Name" placeholder="Name">
    	<input type="email" name="Email" placeholder="email">
    	<button type="submit">Enviar</button>
    </form>      

</section>        
<section ng-show="custom"></section>